<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3 style="text-align: center;"><%= @drive %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-align: center;" style="margin-top: 20px;">
      <h4>Thank you for saving lives!</h4>
      You have been sent a confirmation email. Please contact <a href="mailto:donate112@icloud.com">donate112@icloud.com</a> if you have any questions.
    </div>
  </div>
</div>
